:root {
  /* font */
  --main-font: "Roboto Condensed", sans-serif;
  --second-font:"Lobster",sans-serif;

  /* txt colors */
  --main-txt-cl: #f19000;
  --accent-txt-cl: #fff;

  /* bg colors */
  --bg-img: url(../imanges/bg.jpg);

  /* others */
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  background-image: var(--bg-img);
}

/* reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* base styles*/

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* Header */

.header {
}
.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 184px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-nav {
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  gap: 30px;
}

/* .header-nav-list-item {
  margin-right: 10px;
}

.header-nav-list-item:last-child {
  margin-right: 0;
} */

.header-nav-link {
  font-size: 20px;
  line-height: calc(40 / 20);
  text-align: center;
  text-transform: uppercase;
  padding-top: 34px;
  padding-bottom: 34px;
}

.header-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-link {
  font-size: 20px;
  line-height: calc(40 / 20);
  text-align: center;
  padding-top: 34px;
  padding-bottom: 34px;
}

.socials-link {
  padding-top: 34px;
  padding-bottom: 34px;
}

.socials-link:hover,
.socials-link:focus .socials-icon rect {
  fill: var(--main-txt-cl);
  --color3: var(--main-txt-cl);
}

.socials-icon {
}

.socials-icon:hover rect {
  fill: var(--main-txt-cl);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-link:hover,
.header-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-txt-cl);
}

/* Hero */
.hero {
  background-image: url(../imanges/hero/hero1.jpg);
  background-repeat: no-repeat;
  background-position: center;

  max-width: 1200px;
  height: 670px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {

  font-family: var(--second-font);
  
  font-size: 36px;
  line-height: calc(72 / 36);
  color: var(--accent-txt-cl);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 280px;
  margin-left: 0;
  margin-right: 755px;
}

.hero-subtitle {
  font-family: var(--second-font);
  
  font-size: 36px;
  line-height: calc(36 / 36);
  color: var(--accent-txt-cl);
  text-align: center;
  margin-left: 610px;
  
}

.text-container {
  font-size: 2em;
}

.animated-text {
  opacity: 0;
  display: inline-block;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.animated-text span {
  opacity: 0;
}

.animated-text span.fade {
  opacity: 1;
  transition: opacity 0.1s;
}

.animated-subtitle {
 
  animation: fadeInOut 4s infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Advantages */
.advantages {
}

.advantages-container {
  padding-right: 150px;
  padding-left: 150px;
}

.advantages-list-item {
  display: flex;
  align-items: center;
  gap: 160px;
}

.advantages-img {
  border-radius: 50px;
  margin-bottom: 25px;
}
.advantages-text {
  line-height: calc(32 / 16);
  text-transform: uppercase;
}

.light-text {
  color: var(--accent-txt-cl);
}

/* Product range */
.products {
}

.products-container {
  padding-right: 140px;
  padding-left: 140px;
}
.products-title {
  font-size: 24px;
  line-height: calc(48 / 24);
  color: var(--accent-txt-cl);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}

.products-list-item {
  width: 280px;
  height: 350px;
}

.products-list-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid #fff;
  border-bottom: none;
}
.products-wrapper {
  height: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #fff;
  border-top: none;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.products-wrapper-last {
  padding-top: 40px;
  height: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #fff;
  border-top: none;
}
.products-subtitle {
  text-transform: uppercase;
  color: var(--accent-txt-cl);
  text-align: center;
  margin-bottom: 10px;
}

.products-text {
  font-size: 12px;
  line-height: calc(24 / 12);
  text-transform: uppercase;
  text-align: center;
}

.products-newstitle {
  font-size: 24px;
  line-height: calc(48 / 24);
  color: var(--accent-txt-cl);
  text-transform: uppercase;
  text-align: center;
}

/* Delivery */
.delivery {
}

.delivery-container {
  padding-left: 235px;
  padding-right: 235px;
}
.delivery-title {
}

.delivery-list {
  border-radius: 20px;
  border: 1px solid #f19000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.delivery-list-text {
  font-size: 24px;
  line-height: calc(48 / 24);
  text-align: center;
  margin-bottom: 20px;
}

/* Footer */
.footer {
}

.footer-container {
  display: flex;
  align-items: center;
}
.footer-link {
  font-size: 24px;
  line-height: calc(48 / 24);
  text-align: center;
  padding-top: 34px;
  padding-bottom: 34px;
  margin-left: 60px;
  margin-right: 315px;
}

.footer-list {
  display: flex;
  gap: 20px;
}
