:root {
  /* font */
  --main-font: "Roboto Condensed", sans-serif;

  /* txt colors */
  --main-txt-cl: #f19000;
  --accent-txt-cl: #fff;

  /* bg colors */
  --bg-cl: ;

  /* others */
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

/* reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* base styles*/

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 100px;
  padding-right: 100px;

  outline: 2px solid red;
  outline-offset: -2px;
}

/* Header */
.header {
  background-color: black;
}
.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 184px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-nav {
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  gap: 30px;

}

/* .header-nav-list-item {
  margin-right: 10px;
}

.header-nav-list-item:last-child {
  margin-right: 0;
} */

.header-nav-link {
  font-size: 20px;
  line-height: calc(40 / 20);
  text-align: center;
  text-transform: uppercase;
  padding-top: 34px;
  padding-bottom: 34px;
}

.header-link {
  font-size: 20px;
  line-height: calc(40 / 20);
  text-align: center;
  padding-top: 34px;
  padding-bottom: 34px;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-link:hover,
.header-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-txt-cl);
}

/* Hero */
.hero {
  background-color: black;
}
.hero-title {
  font-size: 36px;
  line-height: calc(72 / 36);
  color: var(--accent-txt-cl);
  text-align: center;
}

.hero-subtitle {
  font-size: 36px;
  line-height: calc(72 / 36);
  color: var(--accent-txt-cl);
  text-align: center;
}

/* Advantages */
.advantages {
  background-color: black;
}

.advantages-container{
  padding-right: 150px;
  padding-left: 150px;
}

.advantages-title {
}

.advantages-list-item{
  display: flex;
  align-items: center;
  gap: 160px;
}

.advantages-img{
  margin-bottom: 25px;
}
.advantages-text {
  line-height: calc(32 / 16);
  text-transform: uppercase;
}

.light-text {
  color: var(--accent-txt-cl);
}

/* Product range */
.products {
  background-color: black;
}

.products-title {
  font-size: 24px;
  line-height: calc(48 / 24);
  color: var(--accent-txt-cl);
  text-transform: uppercase;
  text-align: center;
}

.products-subtitle {
  line-height: calc(32 / 16);
  text-transform: uppercase;
  color: var(--accent-txt-cl);
  text-align: center;
}

.products-text {
  font-size: 12px;
  line-height: calc(24 / 12);
  text-transform: uppercase;
  text-align: center;
}

.products-newstitle {
  font-size: 24px;
  line-height: calc(48 / 24);
  color: var(--accent-txt-cl);
  text-transform: uppercase;
  text-align: center;
}

/* Delivery */
.delivery {
  background-color: black;
}
.delivery-title {
}

.delivery-list-text {
  font-size: 24px;
  line-height: calc(48 / 24);
  text-align: center;
}

/* Footer */
.footer {
  background-color: black;
}

.footer-container{
  display: flex;
  align-items: center;
}
.footer-link {
  font-size: 24px;
  line-height: calc(48 / 24);
  text-align: center;
  padding-top: 34px;
  padding-bottom: 34px;
  margin-left: 60px;
}
