.footer__container {
    display: flex;
    align-items: center;
  }
  
.footer__phone{
    font-size: 24px;
    line-height: calc(48 / 24);
    text-align: center;
    padding-top: 34px;
    padding-bottom: 34px;
    margin-left: 60px;
    margin-right: 315px;
    
      &:hover,
      &:focus {
    color: var(--accent-txt-cl);}
  }

 .footer__list{
  display: flex;
  gap: 20px;
  align-items: center;
 } 

 .footer__link {
  padding-top: 34px;
  padding-bottom: 34px;

   &:hover,
   &:focus {
    fill: var(--main-txt-cl);
     --color3: var(--main-txt-cl);}

 }

 .footer--link:focus .footer__icon rect {
  fill: var(--main-txt-cl);
  --color3: var(--main-txt-cl);
}

.footer__icon:hover rect {
  fill: var(--main-txt-cl);
}