:root {
  /* font */
  --main-font: 'Roboto Condensed', sans-serif;
  --second-font: 'Lobster', sans-serif;

  /* txt colors */
  --main-txt-cl: #f19000;
  --accent-txt-cl: #fff;

  /* bg colors */
  --bg-img: url(../images/base/bg.webp);

  /* others */
  --indent: 15px;
  --itens: 2;
}
