.footer__container {
  display: flex;
  align-items: center;
}

.footer__phone {
  font-size: 12px;
  line-height: calc(24 / 12);
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(32 / 16);

    padding-top: 28px;
    padding-bottom: 28px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 24px;
    line-height: calc(48 / 24);

    padding-top: 34px;
    padding-bottom: 34px;
  }
}

.footer__list {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 0;

  @media screen and (min-width: 768px) {
    gap: 20px;
  }
}

.footer__link {
  @media screen and (min-width: 767px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  &:hover,
  &:focus {
    --color3: var(--accent-txt-cl);
  }
}
