.logo {
 

  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-widht: 768px) {
    margin-right: 85px;
  }

  @media screen and (min-widht: 1200px) {
    margin-right: 184px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}



