.text__container {
  font-size: 2em;
}

.text--animated {
  opacity: 0;
  display: inline-block;
  animation: fadeIn 0.5s forwards;
}

.text--animated span {
  opacity: 0;
}

.text--animated span.fade {
  opacity: 1;
  transition: opacity 0.1s;
}

.subtitle--animated {
  animation: fadeInOut 4s infinite;
}
